<!DOCTYPE html>
<html>
<head>
  <title>Collaborative Form</title>
</head>
<body>
  <h1>Collaborative Form</h1>
  <form id="collabForm">
    <input type="text" name="field1" placeholder="Field 1" autocomplete="off">
    <input type="text" name="field2" placeholder="Field 2" autocomplete="off">
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const FORM_ID = 'demo_form'; // Use a unique ID if you have multiple forms

    document.querySelectorAll('input').forEach(field => {
      field.addEventListener('input', (e) => {
        socket.emit('form_update', {
          formId: FORM_ID,
          field: e.target.name,
          value: e.target.value
        });
      });
    });

    socket.on('form_update', (data) => {
      if (data.formId === FORM_ID) {
        const field = document.querySelector(`[name="${data.field}"]`);
        if (field && field.value !== data.value) {
          field.value = data.value;
        }
      }
    });
  </script>
</body>
</html>
